<div class="language-wrapper-right">
    <div class="title-group">
        <span class="title">Video Zone</span>
        <a class="more" href="{% url 'course:course_index' %}">More Info</a>
    </div>
    <div class="advertise-group">
        <a href="#">
            <img src="https://cdn.lynda.com/course/438407/438407-637199602499436795-16x9.jpg"
                 alt="picture for advertisement">
        </a>
    </div>
    <div class="platform-group">
        <div class="title-group">
            <span class="title">Follow us</span>
        </div>
        <div class="social-medias-group">
            <ul class="social-medias-left">
                <li><a href="https://www.facebook.com/people/Sze-Ho-Tsoi/100007941131121" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-youtube"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
            <div class="social-medias-right">
            </div>
        </div>
    </div>
    <div class="hot-news-group">
        <div class="title-group">
            <span class="title">What's hot</span>
        </div>
        <ul class="hot-news-list-group">
            <li>
                <div class="left-group">
                    <p class="title">
                        <a href="#">Apple quietly builds the business care for AR</a>
                    </p>
                    <p class="more">
                        <span class="category">APPLE</span>
                        <span class="time">2020/02/16</span>
                    </p>
                </div>
                <div class="right-group">
                    <a href="#"><img
                            src="https://images.idgesg.net/images/article/2018/06/wwdc18-arkit-usdz-100760065-medium.3x2.jpg"
                            alt=""></a>
                </div>
            </li>
        </ul>
    </div>
</div>