$pageWidth: 1180px;
$navHeight: 50px;
$publisizingHeight: 420px;
$viewportWidth: 720px;
$viewportHeight: 316px;
$themeColor: #5c87d9;
$mainFontColor: #212121;
$assistFontColor: #878787;
$freeColor: green;
$payColor: orangered;
$lineColor: #eeeeee;
$navBackground: #3a3a3a;
$bannerPaddingTop: 52px;
$newsInfoHeight: 27px;
$bannerWidth: $viewportWidth;
$bannerHeight: $viewportHeight;
